/* #000000 лого */
/* #212121 навігація, заголовки секцій */
/* #757575 основний колір тексту, контакти, текст секцій */
/* #2196F3 акцент */
/* #FFFFFF текст герой */
/* #FFFFFF другий фон */
/* #E5E5E5 основний фон */
/* raleway logo-700 */
/* roboto nav-500 hero-900 button&h3-700 text&address-400 names-500*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* лого */

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo:hover {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

/* навігація */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* герой */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* sections */

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* features */

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

.team {
  background-color: var(--button-color);
}

.team-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: var(--secondary-background-color);
}

.logo-bottom {
  color: var(--secondary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-bottom:hover {
  color: var(--accent-color);
}

.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact.link {
  color: var(--primary-text-color);
}

.order-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* portfolio */

.examples-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-category .filter-button:hover,
.portfolio-category .filter-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.filter-button {
  color: var(--title-text-color);
  background-color: var(--button-color);
  border-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
