/* #000000 лого */
/* #212121 навігація, заголовки секцій */
/* #757575 основний колір тексту, контакти, текст секцій */
/* #2196F3 акцент */
/* #FFFFFF текст герой */
/* #FFFFFF другий фон */
/* #E5E5E5 основний фон */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* лого */

.logo {
  color: #000000;
}
.logo:hover {
  color: var(--accent-color);
}

/* навігація */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* герой */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--secondary-text-color);
}

/* section */

.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

/* features */

.feature-list .title {
}

.feature-list .text {
}

.work-list {
}

.site-bottom {
  background-color: var(--secondary-background-color);
  font-style: normal;
}

.site-bottom .link {
  color: var(--secondary-text-color);
}

.logo-bottom {
  color: var(--secondary-text-color);
}
.logo-bottom:hover {
  color: var(--accent-color);
}

.contact {
  color: var(--primary-text-color);
}

.portfolio-category .button:hover,
.portfolio-category .button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.button {
  color: var(--title-text-color);
  background-color: var(--button-color);
  font-size: ;
  display: ;
  padding: ;
  border: ;
  border-color: var(--button-color);
}

.studio-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-size: ;
  display: ;
  padding: ;
  border: ;
  border-color: var(--accent-color);
}
